<template>
	<div id="app">
		<dashboard
			ref="dash"
			:uppy="uppy"
			:props="{
				metaFields: [
					{ id: 'name', name: 'Name', placeholder: 'file name' },
					{
						id: 'caption',
						name: 'Caption',
						placeholder: 'describe what the image is about',
					},
				],
			}"
		/>
	</div>
</template>

<script>
import { Uppy } from "@uppy/core";
import Tus from "@uppy/tus";

import Dashboard from "@uppy/vue/lib/dashboard.js";

import "@uppy/core/dist/style.css";
import "@uppy/dashboard/dist/style.css";

const uppy = new Uppy({
	metaFields: [
		{ id: "name", name: "Name", placeholder: "file name" },
		{
			id: "caption",
			name: "Caption",
			placeholder: "3D Model",
		},
	],
});

uppy.use(Tus, {
	endpoint: "/files",
	// endpoint: "https://tusd.tusdemo.net/files/",
});

export default {
	name: "App",
	components: {
		Dashboard,
	},
	data: () => {
		return {
			uppy,
		};
	},
	beforeUnmount() {
		this.uppy.close();
	},
};
</script>
